numpy
pandas
python-magic
requests
beautifulsoup4
lxml
scikit-learn
scipy
matplotlib
seaborn
scikit-image
tensorflow
torch
torchvision
transformers
keras
pydantic
pyyaml
fitz
shap
lime
mlflow
prophet
joblib
swifter
nltk
textblob
spacy
sentence-transformers
dash
flask
fastapi
streamlit
statsmodels